---
// =================================
// IMPORTS
// =================================

// Components
import JamLogo from "../components/JamLogo.astro";

// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Utils
import getData from "../utils/getData.js";

// =================================
// CONFIGURATION
// =================================

const pageTitle = "404";

// =================================
// API ENDPOINTS
// =================================

const catApiUrl = "https://api.thecatapi.com/v1/images/search?limit=1";

// =================================
// DATA FETCHING
// =================================

const img = await getData(catApiUrl);
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <!-- START Sign -->
    <div>
      <div>
        <div>
          <svg
            width="35"
            height="30"
            viewBox="0 0 35 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M34.6406 30H0L17.3203 0L34.6406 30ZM17.2002 22.2002C16.6803 22.2002 16.2666 22.3401 15.96 22.6201C15.6535 22.8868 15.5 23.2604 15.5 23.7402C15.5 24.22 15.6535 24.6 15.96 24.8799C16.2666 25.1465 16.6803 25.2803 17.2002 25.2803C17.7202 25.2803 18.1338 25.1465 18.4404 24.8799C18.747 24.5999 18.9003 24.2201 18.9004 23.7402C18.9004 23.2603 18.747 22.8868 18.4404 22.6201C18.1338 22.3401 17.7202 22.2002 17.2002 22.2002ZM17.2002 9.36035C16.7337 9.36038 16.3405 9.53335 16.0205 9.87988C15.7138 10.2132 15.5605 10.6936 15.5605 11.3203C15.5606 11.8935 15.6275 12.54 15.7607 13.2598C15.9074 13.9797 16.0669 14.7598 16.2402 15.5996C16.4269 16.4262 16.5936 17.2998 16.7402 18.2197C16.9002 19.1397 16.9938 20.0934 17.0205 21.0801H17.3799C17.4199 20.0934 17.5135 19.1397 17.6602 18.2197C17.8068 17.2998 17.9735 16.4262 18.1602 15.5996C18.3468 14.7597 18.5073 13.9797 18.6406 13.2598C18.7739 12.54 18.8398 11.8935 18.8398 11.3203C18.8398 10.6936 18.6732 10.2132 18.3398 9.87988C18.0066 9.53341 17.6267 9.36035 17.2002 9.36035Z"
              fill="#F2C94C"></path>
          </svg>
          <strong>Warning: 404</strong>
        </div>
        <JamLogo size="32px" />
      </div>
    </div>
    <!-- End Sign -->

    <div>Stick</div>
  </div>

  <img src={img[0].url} alt="Cat Image" width="100" />
</BaseLayout>
