---
// =================================
// IMPORTS
// =================================

// Components
import Footer from "../components/Footer.astro";
import Analytics from '@vercel/analytics/astro'

// Styles
import "../styles/global.css";

// =================================
// PROPS
// =================================

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{pageTitle}</title>
  </head>

  <body class="flex min-h-dvh max-w-3xl flex-col justify-between md:m-auto">
    <Analytics/>
    <slot />
    <Footer />
  </body>
</html>
